<?xml version="1.0" ?>
<robot name="littlebot" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <link name="base_link"/>

    <link name="base">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6 0.3 0.4"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6 0.3 0.4"/>
            </geometry> 
        </collision> 
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1"/>
            <inertia ixx="1.02" ixy="0.0" ixz="0.0" iyy="1.56" iyz="0.0" izz="1.90"/>
        </inertial>
    </link>

    <!-- base_link to base joint -->
    <joint name="base_link_to_base" type="fixed">
      <parent link="base_link"/>
      <child link="base"/>
    </joint>

</robot>